@use "./abstracts/media-query" as *;
@use "./abstracts/tooltips" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--clr-border);
  border-radius: 1em;
  padding: 1em 1.5em;
  gap: 15px;

  .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-pico);
    font-weight: var(--fw-400);
  }
}
