.container {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem 0.75em;

    .input {
      width: 100%;
      font-size: var(--fs-micro);
      font-weight: var(--fw-500);
      border-radius: 10px;
      border: 1px solid var(--clr-border);
      padding: 1em;
    }
  }
}
