.container {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 0 12px;
  font-size: var(--fs-pico);

  .input {
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: white;
    border-radius: 9999px;
    border: 2px;

    &:checked {
      background-color: #0063c7;

      &:after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
      }
    }
  }

  .label {
    width: 100%;
    cursor: pointer;
    padding: 12px;
  }
}
