@use "abstracts/media-query.scss" as *;

.container {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  a {
    padding: 0.75em;
    display: grid;
  }

  // &:hover {
  //   background-color: var(--clr-logo-hover);
  // }

  &:active {
    background-color: var(--clr-logo-active);
  }

  &:has(:focus-visible) {
    outline: 2px solid var(--clr-secondary);
    // background-color: var(--clr-logo-hover);
  }

  svg {
    height: var(--logo-height);
    width: var(--logo-width);
    fill: var(--clr-logo);
  }
}
