.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;

  .actions {
    display: flex;
  }

  button {
    border-radius: 0px;
  }

  button:first-child {
    border-top-left-radius: 100vmax;
    border-bottom-left-radius: 100vmax;
  }

  button:last-child {
    border-top-right-radius: 100vmax;
    border-bottom-right-radius: 100vmax;
  }
}
