.input {
  position: relative;
  font-weight: var(--fw-500);
  outline: none;
  border: none;
  color: var(--clr-secondary);
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  text-overflow: ellipsis;
  padding: 0px;

  -webkit-appearance: textfield;
  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  [type="number"] {
    -moz-appearance: textfield;
  }
  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
