.container {
  position: relative;
  width: 100%;
  border-radius: 10px;
  font-size: var(--fs-milli);
  font-weight: var(--fw-700);
  color: var(--clr-dark);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-auth-border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: var(--clr-auth-button-hover);
  }

  &:active {
    transform: scale(0.95);
    background-color: var(--clr-auth-button-active);
  }

  &:focus-visible {
    outline: 2px solid var(--clr-light);
    background-color: var(--clr-auth-button-hover);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--clr-light);
    opacity: 0.7;
  }

  .wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 0.7em;

    &.col {
      flex-direction: column;
      font-size: var(--fs-pico);
      padding: 0.5em;

      svg {
        width: var(--fs-h2);
        height: var(--fs-h2);
      }

      .loading {
        inset: 0;
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .title {
      display: flex;
      align-items: center;
    }

    .loading {
      position: absolute;
      right: 0.7em;
      top: 0px;
      bottom: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: var(--fs-h2);
        height: var(--fs-h2);
        margin-right: 0.5em;
      }
    }
  }
}
