.container {
  padding: 0 0.75rem;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5em 0.75em;
    border: 1px solid var(--clr-border);
    border-radius: 10px;

    &.exceed {
      border: 1px solid var(--clr-red);
    }

    .inputToken {
      display: flex;
      align-items: center;
      gap: 20px;

      .token {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
          width: 25px;
          height: 25px;
        }
      }

      .inputWrapper {
        flex: auto;

        .input {
          flex: auto;
          width: 100%;
          text-align: right;
        }
      }
    }

    .balance {
      display: flex;
      flex-direction: column;
      gap: 5px;
      color: var(--clr-secondary);
      font-size: var(--fs-pico);
      font-weight: var(--fw-400);

      .btn {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
      }
    }

    .exceed {
      color: var(--clr-red);
      font-size: var(--fs-pico);
    }
  }
}
